<ion-grid *ngIf="servis.OturumKontrol()">
  <ion-row>
    <ion-col size="12">
    <h3>Kategoriler</h3>
      <button class="btn btn-outline-primary" (click)="Ekle(modalEkleDuzenle)"
        [disabled]="servis.aktifUye.admin==0">Kategori Ekle</button>
      </ion-col>
    <ion-col size="12">
      <table>
        <thead>
          <th>Id</th>
          <th>Kategori Adı</th>
          <th>Kayıt Tarihi</th>
          <th>Düzenleme Tarihi</th>
          <th>Görüntüle</th>
        </thead>
        <tbody>
          <tr *ngFor="let kat of kategoriler">
            <td>{{kat.id}}</td>
            <td>{{kat.adi}}</td>
            <td>{{kat.kaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{kat.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-primary" (click)="Goruntule(kat,modalGoruntule)"
                [disabled]="servis.aktifUye.admin==0">Görüntüle</button></td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="KategoriEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Kategori Adı</label>
            <input type="text" class="form-control" formControlName="adi">
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="kaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">

          </div>

        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-outline-success" value="Kaydet">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secKat">{{secKat.adi}} adlı Kategori Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secKat" (click)="KategoriSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>

<div class="modal" tabindex="-1" #modalGoruntule>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="KategoriEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Kategori Adı</label>
            <input type="text" class="form-control" formControlName="adi">
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="kaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" (click)="Sil(secKat,modalSil)">Sil</button>
          <input type="submit" class="btn btn-outline-success" value="Kaydet">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>