<ion-grid>
  <ion-row>
    <ion-col>
      <div class="alert alert-danger" *ngIf="servis.aktifUye.admin==0">Bu Bölüme Girmeye Yetkiniz Yoktur!</div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="servis.aktifUye.admin==1">
    <ion-col size="12">
    <h3>Üyeler</h3>
    <button class="btn btn-outline-primary" (click)="Ekle(modalEkleDuzenle)">Uye Ekle</button>
  </ion-col>
    <ion-col size="12">
      <table>
        <thead>
          <th>Id</th>
          <th>Adı Soyadı</th>
          <th>Yönetici mi</th>
          <th>Kayıt Tarihi</th>
          <th>Düzenleme Tarihi</th>
          <th>Görüntüle</th>
        </thead>
        <tbody>
          <tr *ngFor="let uye of uyeler">
            <td>{{uye.id}}</td>
            <td>{{uye.adsoyad}}</td>
            <td>
              <span *ngIf="uye.admin==1" class="badge bg-success">Evet</span>
              <span *ngIf="uye.admin==0" class="badge bg-danger">Hayır</span>
            </td>
            <td>{{uye.kaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{uye.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><br><button class="btn btn-outline-primary btn-sm" (click)="Goruntule(uye,modalSecDuzenle)">Görüntüle</button></td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="UyeEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Üye Adı Soyadı</label>
            <input type="text" class="form-control" formControlName="adsoyad">
            <label>Üye E-Posta</label>
            <input type="text" class="form-control" formControlName="mail">
            <label>Parola</label>
            <input type="text" class="form-control" formControlName="parola">
            <label>Yönetici mi</label>
            <select class="form-control" formControlName="admin">
              <option value="1">Evet</option>
              <option value="0">Hayır</option>
            </select>
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="kaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">

          </div>

        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secUye">{{secUye.adsoyad}} adlı Üye Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secUye" (click)="UyeSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>

<div class="modal" tabindex="-1" #modalSecDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="UyeEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Üye Adı Soyadı</label>
            <input type="text" class="form-control" formControlName="adsoyad">
            <label>Üye E-Posta</label>
            <input type="text" class="form-control" formControlName="mail">
            <label>Parola</label>
            <input type="text" class="form-control" formControlName="parola">
            <label>Yönetici mi</label>
            <select class="form-control" formControlName="admin">
              <option value="1">Evet</option>
              <option value="0">Hayır</option>
            </select>
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" id="kaytarihdate" class="form-control" formControlName="kaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" (click)="Sil(secUye,modalSil)">Sil</button>
          <input type="submit" class="btn btn-outline-success" value="Kaydet">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>